/* transisi login to main-page */
body {
    animation: zoomIn 3s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

@keyframes zoomIn {
    from {
        opacity: 0;

        /* bikin ada efek zoom-kecil */
        transform: scale(0.8);
    }

    to {
        opacity: 1;

        /* bikin ada efek zoom-besar*/
        transform: scale(1);
    }
}

/* font */
main #greeting, #date, .flatpickr-days, .flatpickr-calendar, .year-item {
    font-family: 'Poppins', serif !important;
}

.custom-btn-fitur, .flatpickr-days {
    font-family: 'Josefin Sans', serif;
}

/* main */
main #greeting {
    color: #2fa4ff;
}

main #digital-clock {
    font-size: clamp(3rem, 20vh, 10rem) !important;
}

/* analog style */

main .wrapper-analog {
    width: min(280px, 40vh);
    height: min(280px, 40vh);
    border-radius: 50%;
    animation: colorful 30s linear infinite;
}

@keyframes colorful {
    100% {
        filter: saturate(200%);
    }
}

.bar-seconds, .number-hours {
    border-radius: 50%;
}

/* jarum detik */
.bar-seconds span {
    position: absolute;

    /* 
    === Perhitungan untuk menentukan derajat yang dibutuhkan per detik
        360deg.s / 60s = 6deg 

        60s = 1 menit
    */

    transform: rotate(calc(var(--indeks)*6deg));
    inset: -20px;
    text-align: center;
}

.bar-seconds span p {
    width: 2px;
    height: 12px;
    background: #ca4e79;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 10px #fde7d4;
}

/* jarum detik
    5n = berputar setiap kelipatan 5 dan untuk bar yang menunjukkan jam
*/
.bar-seconds span:nth-child(5n) p {
    /* background-color: red; */
    width: 6px;
    height: 18px;
    transform: translateY(1px);
}

/* jarum jam */
.number-hours span {
    position: absolute;

    /* 
    === Perhitungan untuk menentukan derajat yang dibutuhkan per jam
        360deg.h / 12h = 30deg 

        1 days = 12 hours
    */

    transform: rotate(calc(var(--indeks)*30deg));
    inset: 6px;
    text-align: center;
}

.number-hours span p {
    font-size: 20px;
    transform: rotate(calc(var(--indeks)*-30deg));
    color: #ca4e79;
    text-shadow: 0 0 10px #ffc18e;
}

.hands-box .hand{
    position: absolute;
    border-radius: 50%;

    /* df dan jcc ini bikin jarum ada ditengah */
    display: flex;
    justify-content: center;
}

.hands-box .hand i {
    display: inline-block;
    bottom: 50%;
    border-radius: 50%;
    position: absolute;
    transform-origin: bottom;
    box-shadow: 0 0 10px #ffc18e;
}

/* lingkaran jam analog */
.hands-box .hours {
    width: 310px;
    height: 310px;
    
    /* untuk nentuin posisi jarum jam udah sesuai atau belum */
    /* transform: rotate(40deg);
    border: 2px solid red; */
}

/* jarum jam gerak */
.hands-box .hours i {
    width: 8px;

    /* 1/2 height dari parent */
    height: 90px;
    background: #ca4e79;
    /* transform: rotate(40deg); */
}

.hands-box .minutes {
    width: 310px;
    height: 310px;
    /* transform: rotate(230deg);
    border: 2px solid yellow; */
}

/* titik ditengah jam analog */
.hands-box .minutes::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #0e185f;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 5px #00ffdd;
}

/* jarum menit gerak */
.hands-box .minutes i {
    width: 8px;
    height: 120px;
    background: #ca4e79;
    /* transform: rotate(230deg); */
}

.hands-box .seconds {
    width: 300px;
    height: 300px;
    /* transform: rotate(160deg);
    border: 2px solid white; */
}

.hands-box .seconds::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffc18e;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.hands-box .seconds i {
    width: 4px;
    height: 140px;
    background-color: #ffc18e;
    /* transform: rotate(160deg); */
    box-shadow: none;
}

/* custom-btn-fitur */
.custom-btn-fitur {
    /* biar rapi kotak btn-nya */
    min-width: 200px;
    color: #0e185f !important; 

    /* hilangin border default Bootstrap */
    border: none !important;

    /* shadow tipis bawah tombol */
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);

    /* biar jadi patokan garis hover */
    position: relative;
}

.custom-btn-fitur:hover {
    transform: scale(1.1);
    font-weight: bold !important;
}

/* membuat element garis saat hover */
.custom-btn-fitur::after {
    /* biar garis muncul */
    content: '';

    /* posisi garis dibebaskan ditempatkan (awalnya terkunci karena relative) */
    position: absolute;

    /* posisi garis muncul ditengah */
    left: 50%;

    /* jarak text dan garis */
    bottom: -3px;

    /* bikin garis tak terlihat */
    width: 0;

    /* ketebalan garis */
    height: 2px;

    /* warna garis = warna text */
    background: currentColor;

    /* bikin geser garis ke kanan-kiri dan letaknya persis ditengah */
    transform: translateX(-50%);

    /* kalau width berubah akan ada transisi selama 0.3s */
    transition: width 0.3s ease;
}

/* pas mouse masuk */
.custom-btn-fitur:hover::after{
    /* garis membesar selebar tombol */
    width: 100%;
}

/* flatpickr style */
#date, .flatpickr-days, .flatpickr-days:not(.flatpickr-disabled)
, .flatpickr-close, .year-item {
    cursor: pointer;
}

.flatpickr-calendar {
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    /* posisi calendar flatpickr */
    left: 50% !important;
    transform: translateX(-50%) !important;

    /* biar pas diatas #date */
    top: 200px !important;

    /* animasi flatpickr keluar */
    animation: fadeIn 0.3s ease !important;
}

/* animasi flatpickr */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* btn close flatpickr */
.flatpickr-close {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 14px;
    color: #ca4e79;
}

/* flatpickr-days disabled: tanggal harian setelah hari ini */
.flatpickr-day.flatpickr-disabled, .year-item.flatpickr-disabled {
    color: #777;
    opacity: 0.5;
    cursor: not-allowed;
}

/* flatpickr tahun */
.year-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.year-item {
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    color: #000;
}

.year-item:hover {
    background: #ca4e79;
    color: #fff;
}