.timeDisplay, .displayDate {
    font-family: 'Urbanist', sans-serif !important;
}

.timeDisplay {
    letter-spacing: 7px;
}

/* RESPONSIVE */
/* layar maksimal 768px (ukuran HP/Tablet) */
@media screen and (max-width: 768px) {
  .date-time, .dateDisplay, .timeDisplay {
    display: none !important;
  }
}