/* font family */
h2, #sendBtn {
    font-family: 'lilita one', sans-serif;
}

#username, label {
    font-family: 'Josefin Sans', sans-serif;
}

.custom-checkbox {
  color: #000303;
  font-weight: bold;
}

body {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTcya2VmN29wbzY1ZWFsczM3bTF2MHV5NzM2eXF3a2c0cnk0ZzV1OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/iwJMmqOiqzss0/giphy.gif");
  background-size: cover;
  background-blend-mode: overlay;
  animation: gradientShift 60s ease infinite;
  color: #520d0d;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(102, 201, 226, 0.404);
  backdrop-filter: blur(3px);
  z-index: -1;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#login-page {
  background-color: #ffffff;
  color: #000000;
  animation: gradientShift 20s ease infinite;
  background-size: 150% 150%;
}

#login-page:hover:focus {
  background-color: #000000;
  color: #ffffff;
  box-shadow: yellow;
}

h2 {
  text-shadow: 0 0 15px #00ffff, 0 0 25px #00ffff;
}

h2:hover, .custom-checked:hover {
  text-shadow: 0 0 15px #85EF47, 0 0 25px #00ffff;
  cursor: pointer;
}

#anon-checked, #remember-checked {
  accent-color: #00ffff;
  cursor: pointer;
}

.custom-checkbox:checked {
  color: #2e2347;
}

/* username custom */
#username {
  border-radius: 5px;
  outline: none;
  border: 1px dotted #00ffff;
  box-shadow: 2px 2px 2px #333;
}

#username:focus {
  border: 1px solid #333;
  box-shadow: 5px 5px 5px #00ffff;
  translate: 0 -3px 500s ease-in-out;
}

/* send button custom */
#sendBtn {
  background-color: #00ffff;
  box-shadow: 2px 2px 1px #00ffff, 2px 2px 5px #000303;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#sendBtn:hover {
  color: #ffffff;
  translate: 0 -3px;
  box-shadow: 3px 3px 9px #00ffff;
  translate: 0 -3px 500s ease-in-out;
  background-color: #000000;
}

/* overlay gelap di seluruh layar */
.alert-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease;
}

/* kotak alert di tengah */
.alert-box {
  background: white;
  color: #333;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-size: 1.1rem;
  max-width: 300px;
  text-align: center;
  animation: popIn 0.3s ease;
}

/* animasi masuk */
@keyframes popIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* biar ilang pelan */
.d-none {
  display: none !important;
}

/* footer */
footer {
  font-family: 'Josefin Sans', sans-serif;
  color: darkslateblue;
}

footer:hover {
  color: #000000 !important;
  font-weight: bold !important;
  opacity: 100 !important;
  transition: opacity 0.3s ease;
  cursor: pointer;
}