/* FONT FAMILY */
h2, #send-btn, #alert-message, footer {
  font-family: 'lilita one', serif;
}

#username, label {
  font-family: 'josefin sans', serif;
}

/* body */
body {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTcya2VmN29wbzY1ZWFsczM3bTF2MHV5NzM2eXF3a2c0cnk0ZzV1OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/iwJMmqOiqzss0/giphy.gif");
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  transition: background-size 1.2s ease;
}

/* biar img bg body dilapisi warna biru */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: #052471e7;
  backdrop-filter: blur(3px);
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* card login transisi ke main page */
.card #login-page.slide-up {
  transform: translateY(-120px);
  opacity: 0;
}

/* style text */
h2, #username {
  color: #0E185F !important;
  font-weight: bold;
}

h2 {
  letter-spacing: 7px;
}

h2:hover, .custom-checkbox:hover {
  text-shadow: 0 0 8px #2FA4FF;
  cursor: pointer;
}

/* username style custom */
#username {
  border: 0.2px solid #2FA4FF;
  box-shadow: 2px 2px 2px #333;
}

#username:focus {
  border: 2px dashed #2FA4FF;
  box-shadow: 4px 4px 4px #0E185F;
  transition: box-shadow 0.3s ease;
}

/* ubah warna box checkbox saat terpilih */
input:checked {
  background-color: #0e185f !important;
  box-shadow: 0 0 5px #2FA4FF;
  transition: box-shadow 0.3s ease;
}

/* send-btn style */
#send-btn:hover {
  transform: translateY(-1px);
  transition: transform 0.2s ease;
  box-shadow: 2px 3px 6px #000;
}

/* alert style */
.alert-overlay {
  inset: 0;
  z-index: 9999;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  display: none !important;
}

.alert-box {
  background-color: #fff;
  color: #000;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: popIn 0.3s ease;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* footer */
footer:hover {
  color: #fff;
  cursor: pointer;
}

/* animasi transisi login to main*/
body.bg-zoom {
  background-size: 150%;
}

body.fade-overlay::before {
  opacity: 0;
}

body.fade-overlay::after {
  opacity: 1;
  background: #fff;
}

.gerbang-kanan, .gerbang-kiri {
  opacity: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 9998;
  background: #0e185f;
  backdrop-filter: blur(300px);
  transform: translateX(0);
  transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1), opacity 0.4s ease;
  pointer-events: none;
}

.gerbang-kanan {
  right: 0;
}

.gerbang-kiri {
  left: 0;
}

.gerbang-kiri.visible, .gerbang-kanan.visible {
  opacity: 1;
  transform: translateX(0);
}

.gerbang-kiri.open {
  transform: translateX(-100%)
}

.gerbang-kanan.open {
  transform: translateX(100%);
}


.animasi-login {
  animation: loginAnimasi 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes loginAnimasi {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
