/* font family */
.navbar-brand, .navbar-fitur-kostum, .dropdown-item, #logout, h5 {
    font-family: 'Josefin Sans', serif;
}

/* navbar */

.navbar-fitur-kostum {
    /* biar rapi kotak btn-nya */
    min-width: 50px;

    /* hilangin border default Bootstrap */
    border: none !important;

    /* shadow tipis bawah tombol */
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);

    /* biar jadi patokan garis hover */
    position: relative;
}

.navbar-fitur-kostum:hover {
    transform: scale(1.1);
    font-weight: bold !important;
}

/* membuat element garis saat hover */
.navbar-fitur-kostum::after {
    /* biar garis muncul */
    content: '';

    /* posisi garis dibebaskan ditempatkan (awalnya terkunci karena relative) */
    position: absolute;

    /* posisi garis muncul ditengah */
    left: 50%;

    /* jarak text dan garis */
    bottom: -3px;

    /* bikin garis tak terlihat */
    width: 0;

    /* ketebalan garis */
    height: 100%;
    border-bottom: 4px solid #C9A84C;

    /* garis melengkung sesuai sudut border */
    border-radius: 0 0 8px 8px;

    /* bikin geser garis ke kanan-kiri dan letaknya persis ditengah */
    transform: translateX(-50%);

    /* kalau width berubah akan ada transisi selama 0.3s */
    transition: width 0.3s ease;
}

/* pas mouse masuk */
.navbar-fitur-kostum:hover::after{
    /* garis membesar selebar tombol */
    width: 100%;
}

.navbar-fitur-kostum.active {
    border-bottom: 4px solid #C9A84C;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.custom-screen-mode {
    width: 70px;
    height: 33px;
    background-image: url(../navbar/light-mode-v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    appearance: none;
    position: relative;
    border-radius: 36px;
    outline: none;
    cursor: pointer;
}

.custom-screen-mode::before {
    content: "☀️";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
    /* background-color: whitesmoke; */
    border-radius: 50%;
}

.custom-screen-mode:checked {
    /* background-color: #333; */
    background-image: url(../navbar/dark-mode-v9.png);
    background-position: center;
    background-size: cover;
}


.custom-screen-mode:checked::before {
    content: "🌑";
    transform: translateX(30px);
    background: none;
}

.custom-screen-mode:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #00ffff, 4px 4px 10px #85EF47;
}

/* light-dark mode costum */
[data-bs-theme='light'] .navbar-fitur-kostum {
    color: #0e185f; 
}